$red: #ac0808;
$link-blue: #428bca;

$manilla: #ffe9a2;

$black: #000;
$gray-90: #090a0b;
$gray-80: #2d353c;
$gray-70: #383838;
$gray-67: #515050;
$gray-65: #5e5d5d;
$gray-60: #4b555e;
$gray-50: #7a8b99;
$gray-40: #828b94;
$gray-30: #979797;
$gray-20: #c7d1d9;
$gray-15: #eaeaeb;
$gray-10: #dedcdc;
$gray-05: #f2f5f7;
$gray-03: #f9fafa;
$white: #fff;

// Brand colors via https://brandcolors.net/
$twitter: #1da1f2;
$youtube: #ff0000;
