$inter_path: "../fonts/inter";

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 100;
	src:
		local("Inter-Thin"),
		url("#{$inter_path}/inter-v18-latin-100.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-100.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 100;
	src:
		local("Inter-ThinItalic"),
		url("#{$inter_path}/inter-v18-latin-100italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-100italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src:
		local("Inter-ExtraLight"),
		url("#{$inter_path}/inter-v18-latin-200.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-200.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 200;
	src:
		local("Inter-ExtraLightItalic"),
		url("#{$inter_path}/inter-v18-latin-200italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-200italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src:
		local("Inter-Light"),
		url("#{$inter_path}/inter-v18-latin-300.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-300.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 300;
	src:
		local("Inter-LightItalic"),
		url("#{$inter_path}/inter-v18-latin-300italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-300italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src:
		local("Inter-Regular"),
		url("#{$inter_path}/inter-v18-latin-regular.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-regular.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	src:
		local("Inter-RegularItalic"),
		url("#{$inter_path}/inter-v18-latin-italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src:
		local("Inter-Medium"),
		url("#{$inter_path}/inter-v18-latin-500.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-500.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 500;
	src:
		local("Inter-MediumItalic"),
		url("#{$inter_path}/inter-v18-latin-500italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-500italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src:
		local("Inter-SemiBold"),
		url("#{$inter_path}/inter-v18-latin-600.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-600.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 600;
	src:
		local("Inter-SemiBoldItalic"),
		url("#{$inter_path}/inter-v18-latin-600italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-600italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src:
		local("Inter-Bold"),
		url("#{$inter_path}/inter-v18-latin-700.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-700.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 700;
	src:
		local("Inter-BoldItalic"),
		url("#{$inter_path}/inter-v18-latin-700italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-700italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src:
		local("Inter-ExtraBold"),
		url("#{$inter_path}/inter-v18-latin-800.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-800.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 800;
	src:
		local("Inter-ExtraBoldItalic"),
		url("#{$inter_path}/inter-v18-latin-800italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-800italic.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src:
		local("Inter-Black"),
		url("#{$inter_path}/inter-v18-latin-900.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-900.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 900;
	src:
		local("Inter-BlackItalic"),
		url("#{$inter_path}/inter-v18-latin-900italic.woff2") format("woff2"),
		url("#{$inter_path}/inter-v18-latin-900italic.ttf") format("truetype");
}
