@use "base/_variables.scss" as *;
@use "base/_functions.scss" as *;
@use "base/_colors.scss" as *;

@mixin h1($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(64px);
	font-size: fluid(42px, 64px);
	font-weight: $font-weight;
	line-height: 1.15;
	letter-spacing: -0.01em;
}

@mixin h2($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(52px);
	font-size: fluid(32px, 52px);
	font-weight: $font-weight;
	line-height: 1.15;
	letter-spacing: -0.01em;
}

@mixin h3($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(42px);
	font-size: fluid(32px, 42px);
	font-weight: $font-weight;
	line-height: 1;
	letter-spacing: -0.01em;
}

@mixin h4($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(36px);
	font-size: fluid(20px, 36px);
	font-weight: $font-weight;
	line-height: 1.11;
	letter-spacing: -0.01em;
}

@mixin h5($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(24px);
	font-size: fluid(18px, 24px);
	font-weight: $font-weight;
	line-height: 1.16;
}

@mixin h6($font-weight: 800) {
	font-family: $headline-font;
	font-size: rem(20px);
	font-size: fluid(18px, 20px);
	font-weight: $font-weight;
	line-height: 1.2;
}
