// Font families
$headline-font  : 'Raleway', sans-serif;
$text-font      : "Open Sans", "Segoe UI", Tahoma, sans-serif;;
$mono-font      : 'Roboto Mono', Menlo, 'Ubuntu Mono', Monaco, Consolas, 'source-code-pro', monospace;
$helvetica-font : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$system         : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$maximum-page-width: rem(1440px);

$header_height: 72px;
$admin_bar_height: 32px;
