{% extends 'base.twig' %}

{% block content %}
	<article class="single-post">
		<h1 class="the-title">Pagination</h1>
	</article>

	{{ pagination_start }}
	{{ pagination_middle }}
	{{ pagination_end }}
{% endblock %}
