@use 'base/_imports.scss' as *;

$_breakpoint: em_(800px);

.text-image-block {
    margin: rem_(64px) calc(50% - 50vw);

    @media(max-width: $_breakpoint) {
        margin-top: rem_(32px);
        margin-bottom: rem_(32px);
        padding: 0 rem_(16px);
    }

    .inner {
        max-width: rem_(720px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        padding: rem_(32px) rem_(16px);

        @media(max-width: $_breakpoint) {
            display: block;
            padding: rem_(16px);
        }
    }

    .media {
        padding-right: rem_(32px);
    }

    .kicker {
        color: $logo-red;
        margin-bottom: 0;
    }

    &.text-image-block--no-image {
        .inner {
            display: block;
        }
    }

    &.text-image-block--align-right {
        .inner {
            flex-direction: row-reverse;
        }

        .media {
            padding-right: 0;
            padding-left: rem_(32px);
        }
    }
}
