@import 'base/_imports.scss';

$_breakpoint: _em(800px);

.text-image-block {
    margin: _rem(64px) calc(50% - 50vw);

    @media(max-width: $_breakpoint) {
        margin-top: _rem(32px);
        margin-bottom: _rem(32px);
        padding: 0 _rem(16px);
    }

    .inner {
        max-width: _rem(720px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        padding: _rem(32px) _rem(16px);

        @media(max-width: $_breakpoint) {
            display: block;
            padding: _rem(16px);
        }
    }

    .media {
        padding-right: _rem(32px);
    }

    .kicker {
        color: $logo-red;
        margin-bottom: 0;
    }

    &.text-image-block--no-image {
        .inner {
            display: block;
        }
    }

    &.text-image-block--align-right {
        .inner {
            flex-direction: row-reverse;
        }

        .media {
            padding-right: 0;
            padding-left: _rem(32px);
        }
    }
}
