.breadcrumbs {
    padding: _rem(16px);

    .breadcrumb-list {
        display: flex;
    }

    .breadcrumb {
        list-style: none;
        font-size: _rem(14px);
        display: flex;
        align-items: center;

        a {
            color: $logo-red;

            &[aria-current] {
                color: $gray-70;
            }
        }
    }

    .separator {
        border-top: _rem(1px) solid $gray-10;
        border-right: _rem(1px) solid $gray-10;
        transform: rotate(45deg);

        display: inline-block;
        margin: 0 _rem(8px);
        width: 0.6em;
        height: 0.6em;
    }
}
