$_breakpoint : _em(860px);
$_small_breakpoint : _em(580px);

.footer {
    background-color: $gray-67;
    margin-top: _rem(64px);
    padding: _rem(64px) _rem(16px) _rem(32px);

    @media(max-width: $_breakpoint) {
        padding-top: _rem(32px);
    }

    @media(max-width: $_small_breakpoint) {
        padding-top: _rem(16px);
    }

    .inner {
        max-width: $maximum-page-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: $white;

        @media(max-width: $_breakpoint) {
            flex-direction: column-reverse;
        }
    }

    .footer-logo {
        flex: 0 1 40%;
    }

    .logo {
        font-size: _rem(140px);
        margin-bottom: _rem(16px);
        color: $white;
    }

    .footer-menu-items {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        @media(max-width: _em(940px)) {
            margin-bottom: _rem(64px);
            flex-basis: 100%;
            justify-content: space-between;
        }

        @media(max-width: $_small_breakpoint) {
            flex-direction: column;
            margin-bottom: _rem(16px);
        }
    }

    .footer-menu-item {
        margin-left: _rem(48px);
        margin-bottom: _rem(32px);

        @media(max-width: $_breakpoint) {
            margin-left: _rem(16px);
            margin-right: _rem(16px);
        }
    }

    .footer-menu-title {
        text-transform: uppercase;
        font-size: _rem(16px);
        margin: _rem(16px) 0;
        font-weight: 700;
    }

    .footer-menu-list {
        a {
            color: $white;
            display: block;
            padding: _rem(6px) 0;
            font-size: _rem(16px);
            line-height: 1.75;
        }
    }

    .social-links,
    .utility-links {
        margin-bottom: _rem(8px);
    }

    .social-links {
        display: flex;
        margin-bottom: _rem(16px);
    }

    .social-link {
        display: block;
        font-size: _rem(16px);
        border-radius: _rem(6px);
        padding: _rem(6px);
        padding-bottom: _rem(4px);
        margin-right: _rem(12px);

        @media(max-width: $_small_breakpoint) {
            font-size: _rem(22px);
            padding: _rem(8px);
        }
    }

    .utility-links {
        padding: _rem(8px) 0;

        li {
            margin-bottom: _rem(8px);
            font-size: _rem(16px);
        }

        a {
            color: $white;
            font-weight: 700;
        }
    }

    .copyright,
    .service-mark {
        font-size: _rem(16px);
        margin: _rem(4px) 0 _rem(8px);
    }
}
