@use 'base/_imports.scss' as *;

$_breakpoint : 860px;
$_small_breakpoint : em_(580px);

.footer {
    background-color: $gray-67;
    margin-top: rem_(64px);
    padding: rem_(64px) rem_(16px) rem_(32px);

    @media(max-width: em_($_breakpoint )) {
        padding-top: rem_(32px);
    }

    @media(max-width: $_small_breakpoint) {
        padding-top: rem_(16px);
    }

    .inner {
        max-width: $maximum-page-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: $white;

        @media(max-width: $_breakpoint) {
            flex-direction: column-reverse;
        }
    }

    .footer-logo {
        flex: 0 1 40%;
    }

    .logo {
        font-size: rem_(140px);
        margin-bottom: rem_(16px);
        color: $white;
    }

    .footer-menu-items {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        @media(max-width: em_(940px)) {
            margin-bottom: rem_(64px);
            flex-basis: 100%;
            justify-content: space-between;
        }

        @media(max-width: $_small_breakpoint) {
            flex-direction: column;
            margin-bottom: rem_(16px);
        }
    }

    .footer-menu-item {
        margin-left: rem_(48px);
        margin-bottom: rem_(32px);

        @media(max-width: $_breakpoint) {
            margin-left: rem_(16px);
            margin-right: rem_(16px);
        }
    }

    .footer-menu-title {
        text-transform: uppercase;
        font-size: rem_(16px);
        margin: rem_(16px) 0;
        font-weight: 700;
    }

    .footer-menu-list {
        a {
            color: $white;
            display: block;
            padding: rem_(6px) 0;
            font-size: rem_(16px);
            line-height: 1.75;
        }
    }

    .social-links,
    .utility-links {
        margin-bottom: rem_(8px);
    }

    .social-links {
        display: flex;
        margin-bottom: rem_(16px);
    }

    .social-link {
        display: block;
        font-size: rem_(16px);
        border-radius: rem_(6px);
        padding: rem_(6px);
        padding-bottom: rem_(4px);
        margin-right: rem_(12px);

        @media(max-width: $_small_breakpoint) {
            font-size: rem_(22px);
            padding: rem_(8px);
        }
    }

    .utility-links {
        padding: rem_(8px) 0;

        li {
            margin-bottom: rem_(8px);
            font-size: rem_(16px);
        }

        a {
            color: $white;
            font-weight: 700;
        }
    }

    .copyright,
    .service-mark {
        font-size: rem_(16px);
        margin: rem_(4px) 0 rem_(8px);
    }
}
