@use 'base/_imports.scss' as *;

.the-page {
    max-width: _rem(1024px);
    margin: 0 auto;
    padding: _rem(32px) _rem(16px) 0;

    // Prevent horizontal scroll bar when busting elements outside of their container
    // i.e. margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);
    .main-content {
        overflow-x: hidden;
    }

    .the-title {
        @include h1();

        margin-bottom: _rem(22px);
    }
}
