@use 'base/_imports.scss' as *;

$_breakpoint : _em(1180px);

.post-archive {
    max-width: _rem(1080px);
    margin: 0 auto;
    padding: _rem(32px) _rem(16px) 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    position: relative; // To contain .the-aside

    @media(max-width: $_breakpoint) {
        flex-direction: column;
    }

    .title {
        @include h1();

        margin-bottom: _rem(24px);

        .the-search-query {
            color: $logo-red;
        }
    }

    .post-archive-items,
    .no-posts-found {
        flex-basis: _rem(870px);
        min-height: _rem(480px);

        @media( max-width: $_breakpoint ) {
            flex-basis: auto;
            min-height: auto;
            margin-bottom: _rem(32px);
        }
    }

    .refine-search {
        color: $link-blue;
        text-decoration: underline;
    }
}

.post-archive-item {
    display: flex;
    margin-bottom: _rem(32px);

    @media(max-width: _em(780px)) {
        display: block;
    }

    >* {
        flex-basis: 50%;
    }

    .media {
        margin-right: _rem(64px);
        margin-bottom: _rem(16px);

        @media(max-width: _em(780px)) {
            margin-right: 0;
        }
    }

    .the-title {
        @include h3();

        margin-bottom: _rem(8px);
    }

    .the-meta {
        margin-bottom: _rem(20px);
    }

    .date-categories {
        font-size: _rem(12px);
        color: $gray-70;

        a {
            color: $logo-red;
        }
    }

    .the-date {
        font-weight: 600;
    }

    .the-excerpt {
        color: $gray-70;
        font-size: _rem(16px);
        line-height: 1.575;
    }
}
