@use "base/_imports.scss" as *;

/*
	RESET!
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	line-height: 1;
	font-family: $text-font;
	color: $black;
	background-color: $white;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

label {
	cursor: pointer;
}

input {
	outline: none;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	font-size: 85%;
	padding: 0 0.3em 0 0.1em;
}

a {
	text-decoration: none;
}

// Form Resets

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; // Font family should be inherited from the parent element
	font-size: 100%;
	line-height: 1.15;
	margin: 0; // Remove the margin in Firefox and Safari
}

button,
input {
	overflow: visible; // Show the overflow in Edge/IE
}

button,
select {
	text-transform: none; // Remove the inheritance of text transform
}
