.single-post {
    max-width: $maximum-page-width;
    padding: _rem(32px) _rem(16px) 0;
    margin: 0 auto;

    position: relative; // To contain .the-aside

    .the-post {
        max-width: _rem(760px);
        margin: 0 auto _rem(48px);
    }

    .the-title {
        @include h1();

        margin-bottom: _rem(22px);
    }

    .the-meta {
        margin-bottom: _rem(20px);
    }

    .date-categories {
        font-size: _rem(14px);
        color: $gray-70;

        a {
            color: $logo-red;
        }
    }

    .the-date {
        font-weight: 600;
    }

    .the-featured-image {
        margin-bottom: _rem(32px);
    }
}
