<footer class="footer" id="footer">
	<div class="inner">
		<a href="{{ site_url|esc_url }}">
			<span class="screen-reader-text">{{ site_title }}</span>
		</a>
		<p class="copyright">&copy; {{ year }} </p>
	</div>
</footer>
